body {
    font-family: Jura;
    color: #1F3439;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: #FAF6EB;
    display: inline-block;
    border-radius: 17px;
    padding: 4px 9px;
}

#menu a:hover {
    background: #D9D9D9;
    color: #1F3439;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    text-align: right;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 600;
}

h2 {
    font-size: 17px;
    font-weight: 400;
    margin-top: 26px;
}

h3 {
    /* heading in menu */
    color: #FAF6EB;
    font-size: 24px;
    font-weight: 600;
}

h4 {
    color: rgba(250, 246, 235, 0.50);
    font-size: 15px;
    font-weight: 400;
}

li {
    list-style: none;
}

/* сброс стилей */
button {
    background: inherit;
    border-style: none;
    padding: 0;
    text-transform: none;
    overflow: visible;
    margin: 0;
}


#menulist {
    margin-top: 60px;
}

.list {
    border-left: 1px solid rgba(250, 246, 235, 0.50);
}

ul {
    padding: 0;
}

.list li {
    margin-left: 20px;
}

header {
    height: 44px;
}

#heading {
    display: inline-block;
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}

#inputform input {
    overflow: visible;
    margin: 0;
    font-size: 20px;
    font-weight: inherit;
    padding: 0;
    border: 0.75px solid #1F3439;
    background: #FAF6EB;
    min-width: 34px;
    width: 34px;
}

#content {
    width: 370px;
    margin: auto;
    padding-left: 23px;
    padding-right: 23px;
}

#main {
    overflow: hidden;
    height: 0;
    padding: 0 15px;
}

#menu {
    background: #1F3439;
    color: #FFF;
    overflow: hidden;
    min-height: 100vh;
}

.menuoff {
    display: none;
}

.bodymenu {
    background: #1F3439;
}

.bodywork {
    background: #FAF6EB;
}
#work {
    min-height: calc(100vh - 100px);
    padding-bottom: 20px;
}

.svgbuttonwork {
    fill: #1F3439;
}

/* кнопки очистить и Посчитать */
#btns {
    display: inline-block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#btns button {
    width: 140px;
    height: 34px;
    border-radius: 19px;
    color: white;
    font-size: 16px;
    font-family: Jura;
}

#calculate {
    background: #7F9049;
    margin: 0 15px;
}
#calculate:hover, #calculate:active {
    background: #99aa62;
}
#clear {
    background: #333333;
}
#clear:hover, #clear:active {
    background: #656565;
}


#inputform td {
    padding: 4px 3px;
}

#inputforn .input,
.input-buffer {
    letter-spacing: 0.2em;
}

.input-buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}

#formulas td {
    text-align: center;
}

#formulas {
    padding: 15px 0 0 15px;
}

.property-name {
    font-size: 20px;
}

.property-equal {
    font-size: 24px;
}

.off {
    border: 1px solid green;
}
#menubutton {
    position: absolute;
    top: 20px;
    left: 23px;
}

#inner {  /* this contains three lines */
    position: relative; /* to lines with position: absolute; displayed correctly */
    width: 30px;
    height: 21px;
    cursor: pointer;
}

#inner .line {
    position: absolute;
    opacity: 1; /* nontransparant */
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    --animation-duration: 0.3s;
}
#inner:hover .line {
   background-color: #6c6c6c;
}
#inner.active:hover .line {
   background-color: #d3d0c5;
}
#inner.disactive .line {
    animation-duration: var(--animation-duration);
}

#inner.disactive .line1 {
    animation-name: line1disactive;
}

#inner.disactive .line2 {
    animation-name: line2disactive;
    animation-duration: var(--animation-duration);
}

#inner.disactive .line3 {
    animation-name: line3disactive;
}

#menubutton .line1 {
    top: 0px;
}

#menubutton .line2 {
    top: 9px;
}

#menubutton .line3 {
    top: 18px;
}

#inner.active .line {
    background-color: #FAF6EB;
}

#inner.active .line1 {
    animation-duration: var(--animation-duration);
    animation-name: line1active;
    top: 9px;
    transform: rotate(45deg);

}

#inner.active .line2 {
    animation-duration: var(--animation-duration);
    animation-name: line2active;
    opacity: 0;
}

#inner.active .line3 {
    animation-duration: var(--animation-duration);
    animation-name: line3active;
    top: 9px;
    transform: rotate(-45deg);
}

@keyframes line1active {
    from {
        top: 0px;
        transform: rotate(0deg);
        background-color: #000;
    }

    50% {
        top: 9px;
        transform: rotate(0deg);
    }

    to {
        top: 9px;
        transform: rotate(45deg);
        background-color: #FAF6EB;
    }
}

@keyframes line1disactive {
    from {
        top: 9px;
        transform: rotate(45deg);
        background-color: #FAF6EB;
    }

    50% {
        top: 9px;
        transform: rotate(0deg);
    }

    to {

        top: 0px;
        transform: rotate(0deg);
        background-color: #000;
    }
}

@keyframes line2active {
    from {
        opacity: 1;
        background-color: #000;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    to {
        opacity: 0;
        background-color: #FAF6EB;
    }
}


@keyframes line2disactive {
    from {
        opacity: 0;
        background-color: #FAF6EB;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    to {
        opacity: 1;
        background-color: #000;
    }
}

@keyframes line3active {
    from {
        top: 18px;
        transform: rotate(0deg);
        background-color: #000;
    }

    50% {
        top: 9px;
        transform: rotate(0deg);
    }

    to {
        top: 9px;
        transform: rotate(-45deg);
        background-color: #FAF6EB;
    }
}

@keyframes line3disactive {
    from {
        top: 9px;
        transform: rotate(-45deg);
        background-color: #FAF6EB;
    }

    50% {
        top: 9px;
        transform: rotate(0deg);
    }

    to {
        top: 18px;
        transform: rotate(0deg);
        background-color: #000;
    }
}
a, #calculate, #clear {
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}


footer {
	/* background-color: #2c3e50; */
	background-color: #1F3439;
	padding: 20px 6px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	color: #959fa8;
	border-top: 1px solid #4b5055;
	/* position: revert-layer; */
	/* bottom: 0; */
	/* left: 0; */
	/* width: 100%; */
}

footer span.top {
	width: 100%;
	margin-bottom: 14px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	max-width: 495px;
	margin: 0 auto;
	text-align: justify;
}

footer a {
	color: #959fa8;
	width: 58px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	margin-left: 40px;
}

 footer img {
	height: 20px;
 }